.blob {
  width: 13rem;
}

.span-div {
  display: flex;
  justify-content: flex-end;
  width: 25.7rem;
  font-weight: 600;
}

#Home {
  margin-top: 5rem;
  animation: slideFromTop 1s ease forwards;
  z-index: 0;
  position: relative;
}

@keyframes slideFromTop {
  0% {
    opacity: 25%;
    transform: translateY(-100%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}