#About {
  width: 100vw;
  background-color: #fac4a7;
}

.links {
  align-self: flex-end;
}

a {
  align-self: flex-end;
  text-decoration: none;
  color: #85695d;
}

#About img {
   width: 20rem;
   margin: 3rem 0;
   box-shadow:  10px 10px 0px white;
}

.education, .experience {
  width: 30rem;
}

.left {
  align-self: flex-start;
}

a.left {
  margin: 0.5rem 0;
}

span.left {
  margin-top: -0.25rem;
}

i.left {
  margin: 0.5rem 0;
}

ul {
  margin-top: 0;
}

li {
  list-style-type: disc;
  line-height: 1.25;
}

ul ul li {
  list-style: circle;
}

i {
  font-style: italic;
}

@media only screen and (max-device-width: 480px) {
  #About {
    z-index: 2;
    align-self: flex-start;
    background-color: #fac4a7;
  }

  .education, .experience {
    width: 20rem;
  }
}