.about > div{
    width: 80%;
}

#about h1{
    font-size: 30px;
    font-family: "San Francisco Bold";
}

.education-flex{
    display: flex;
    flex-direction: column;
}

.education{
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.school{
    font-family: "San Francisco Bold";
}

.school-photo{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#ub{
    color: #005bbb;
}

#aa{
    color: #ef3850;
}

.major{
    font-family: "San Francisco Italics";
    color: #838388;
    font-size: 15px;
}

#about img{
    max-height: 50%;
    max-width: 50%;
}

.link-buttons{
    display: flex;
}

#about .link-buttons{
    flex-direction: column;
}

#about .link-buttons > div{
    display: flex;
    width: 350px;
    justify-content: center;
}

.link-buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    height: 30px;
    width: 100px;
    margin-top: 15px;
    margin-right: 15px;
    text-decoration: none;
}

.abutton{
    border: 1px solid black;
    color: black;
}

.abutton:hover{
    border: 1px solid white;
    color: white;
    background-color: #333;
}

.bbutton{
    border: 1px solid #4078c0;
    color: #4078c0;
}

.bbutton:hover{
    border: 1px solid white;
    color: white;
    background-color: #4078c0;
}

.resume{
    color: black;
}

@media only screen and (max-width: 600px) {
    #about > :first-child{
        display: none;
    }

    #about{
        padding-top: 100px;
        height: 100vh;
    }

    #about .link-buttons div{
        flex-direction: column;
        align-items: center;
    }
}