@font-face {
    font-family: "Manrope Semibold";
    src: url("../fonts/Manrope-SemiBold.ttf");
}

@font-face {
    font-family: "San Francisco Italics";
    src: url("../fonts/SFPro_italics.ttf");
}

#concat, #metabook, #olympus, #nypd{
    width: 100vw;
    height: 100vh;
    display: flex;
}

#concat > :first-child, .concat-about, 
.metabook-about, #metabook > :last-child, 
#olympus > :first-child, .olympus-about,
.nypd-about, #nypd > :last-child{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#concat img, #metabook img, #olympus img, #nypd img{
    max-width: 80%;
    max-height: 80%;
}

.concat-about > div, .metabook-about > div, .olympus-about > div, .nypd-about > div{
    width: 60%;
}

.concat-about h1{
    font-family: "Manrope Semibold";
    font-size: 30px;
    color: #90B8F8;
}

.concat-tech, .metabook-tech, .olympus-tech, .nypd-tech{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.concat-tech > :last-child, .metabook-tech > :last-child, .olympus-tech > :last-child,
.nypd-tech > :last-child{
    font-family: "San Francisco Italics";
}

.concat-tech span, .metabook-about span, .olympus-about span, .nypd-about span{
    margin: 3px 0;
}

.concat-about p, .metabook-about p, .olympus-about p, .nypd-about p {
    line-height: 1.3;
}