@font-face {
    font-family: "Manrope Semibold";
    src: url("../fonts/Manrope-SemiBold.ttf");
}

@font-face {
    font-family: "San Francisco Italics";
    src: url("../fonts/SFPro_italics.ttf");
}

#concat, #metabook, #olympus, #nypd, #about{
    width: 100vw;
    height: 100vh;
    display: flex;
}

#concat > :first-child, .concat-about, 
.metabook-about, #metabook > :last-child, 
#olympus > :first-child, .olympus-about,
.nypd-about, #nypd > :last-child,
#about > :first-child, .about{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
}

#concat img, #metabook img, #olympus img, #nypd img{
    max-width: 80%;
    max-height: 80%;
}

.concat-about > div, .metabook-about > div, .olympus-about > div, .nypd-about > div{
    width: 60%;
}

.concat-about h1{
    font-family: "Manrope Semibold";
    font-size: 30px;
    color: #90B8F8;
}

.concat-tech, .metabook-tech, .olympus-tech, .nypd-tech, .about-education {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.concat-tech > :last-child, .metabook-tech > :last-child, .olympus-tech > :last-child,
.nypd-tech > :last-child{
    font-family: "San Francisco Italics";
}

.concat-tech span, .metabook-about span, .olympus-about span, .nypd-about span, .about span{
    margin: 3px 0;
}

.concat-about p, .metabook-about p, .olympus-about p, .nypd-about p {
    line-height: 1.3;
}

#concat .link-buttons{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
    #concat, #olympus, #about{
        width: 100vw;
        height: 130vh;
        flex-direction: column;
    }

    #concat > :first-child, .concat-about, 
    .metabook-about, #metabook > :last-child, 
    #olympus > :first-child, .olympus-about,
    .nypd-about, #nypd > :last-child,
    #about > :first-child, .about{
        height: 50%;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #concat h1, #metabook h1, #olympus h1, #nypd h1, #about h1{
        text-align: center;
    }
    
    #concat img{
        display: none;
    }

    #concat > :first-child{
        content: url("../images/concat_logo.png");
        object-fit: contain;
    }

    .concat-about > div, .metabook-about > div, .olympus-about > div, .nypd-about > div{
        width: 90%;
    }

    #concat .link-buttons, #metabook .link-buttons, #olympus .link-buttons,
    #nypd div.link-buttons, #about .link-buttons {
        align-items: center;
        justify-content: center;
    }

}