.nypd-about h1{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    #nypd img{
        display: none;
    }

    #nypd > :last-child{
        content: url("../images/nypd_pie.png");
        width: 100%;
        object-fit: contain;
    }
}