@font-face {
    font-family: "Caesar Dressing";
    src: url("../fonts/CaesarDressing-Regular.ttf");
}

.olympus-about h1{
    font-family: "Caesar Dressing";
    font-size: 30px;
    color: #c6934b;
}

@media only screen and (max-width: 600px) {
    #olympus img{
        display: none;
    }

    #olympus > :first-child{
        content: url("../images/olympus_mobile.png");
        width: 100%;
        object-fit: cover;
    }
}