@font-face {
    font-family: "San Francisco";
    src: url("../fonts/San_Francisco.otf");
}

body{
    font-family: "San Francisco";
}

.components{
    display: flex;
    flex-direction: column;
}

.fades > *{
    opacity: 0;
    transform: translate(0, 50%);
    visibility: hidden;
    transition: opacity 1000ms ease-out, transform 1000ms ease-out;
    will-change: opacity, visibility;
}

.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
    display: flex; 
  }