@font-face {
    font-family: "San Francisco";
    src: url("../fonts/San_Francisco.otf");
}

body{
    font-family: "San Francisco";
}

.components{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 100vh;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

.components > *{
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
}

.fades > *{
    opacity: 0;
    transform: translate(0, 50%);
    visibility: hidden;
    transition: opacity 1000ms ease-out, transform 1000ms ease-out;
    will-change: opacity, visibility;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
}



.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
    display: flex; 
  }