.header {
  display: flex;
  justify-content: space-between;
  width: 23rem;
  margin: 2rem 0;
  z-index: 3;
}

.header span {
  border: 1px solid #85695d;
  padding: .5rem 1rem;
  border-radius: 5px;
  width: 5rem;
  text-align: center;
}

.header span.alt-color {
  border: 1px solid #c89c86;
}

.header span:hover {
  cursor: pointer;
  background-color: #ffb467;
  filter: brightness(0.8);
}

.header span.alt-color:hover {
  background-color: #fac4a7;
}

.focused {
  background-color: #85695d;
  color: #ffb467;
}

.focused.alt-color {
  background-color: #c89c86;
  color: #fac4a7;
}

.header span.focused:hover {
  filter: none;
  background-color: #85695d;
}

.header span.focused.alt-color:hover {
  filter: none;
  background-color: #c89c86;
}

@media only screen and (max-width: 767px) {

}