body {
  color: #583b39;
  font-family: 'Inter';
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

.alt-color {
  color: #85695d;
}

.vertical {
  flex-direction: column;
}

.left {
  align-items: self-start;
}