body {
  color: #583b39;
  font-family: 'Inter';
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

.alt-color {
  color: #85695d;
}

.vertical {
  flex-direction: column;
}

.left {
  align-items: self-start;
}

@media only screen and (max-device-width: 480px) {
  h1 {
    font-size: 2rem;
  }
}