@font-face {
    font-family: Hacked;
    src: url("./fonts/Hacked-KerX.ttf");
}

@font-face {
    font-family: Manrope;
    src: url("./fonts/Manrope-SemiBold.ttf");
}

@font-face {
    font-family: "SFProI";
    src: url("./fonts/SFPro_italics.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("./fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: Caesar;
    src: url("./fonts/CaesarDressing-Regular.ttf");
}